---
import { projects } from "../../utils/projects";
---

<section class="py-5 space-y-6">
  <h1 class="text-5xl capitalize text-center">Some of my projects</h1>
  <div class="p-5 space-y-4 lg:flex lg:space-y-0 lg:space-x-6">
    {
      projects.map(({ title, link, image }) => {
        return (
          <article class="border-2 overflow-hidden p-2 border-black dark:border-white shadow-comic-light dark:shadow-comic-dark rounded-md">
            <img class="w-full rounded-md" src={image} alt="" />
            <div class="space-y-1 my-2 capitalize text-gray-900 dark:text-gray-100">
              <a target="_blank" href={link}>
                <h3 class="text-2xl font-semibold hover:underline hover:underline-offset-2">
                  {title}
                </h3>
              </a>
            </div>
          </article>
        );
      })
    }
  </div>
  <p class="text-xl text-center capitalize">
    Visit <a
      class="underline underline-offset-2 text-blue-700 dark:text-blue-400 font-semibold"
      href="/project">project</a
    > page to see in detail
  </p>
</section>
