---
---

<section class="min-h-[80vh] flex justify-center relative items-center py-5 md:py-10">
  <img
    class="absolute aspect-square w-96 animate-spin-slow rounded-full opacity-50 top-0 left-0"
    src="/img/JS-logo.png"
    alt="JS-logo"
  />
  <img
    class="absolute w-96 animate-spin-slow-reverse opacity-50 bottom-0 right-0"
    src="/img/Node-logo.png"
    alt="JS-logo"
  />
  <div
    class="w-10/12 mx-auto relative z-10 lg:grid lg:grid-cols-2 lg:gap-8 lg:place-items-center">
    <img
      class="p-5 my-5 bg-white/20 backdrop-blur-md lg:m-0 border-2 border-black shadow-comic-light rounded-3xl"
      src="/svg/art1.svg"
      alt="svg art"
    />
    <div
      class="text-sm md:text-base bg-white/20 backdrop-blur-md border-2 border-black shadow-comic-light rounded-md p-2 md:px-2 font-semibold text-center md:text-start space-y-4">
      <p>
        Hey there and welcome to my little corner of the internet! My name is Arjun R.
        Mistry, and I'm a full-stack web developer with a passion for helping small
        businesses bring their online presence to life.
      </p>
      <p>
        From sleek and responsive interfaces to dynamic back-end systems, I've got the
        skills and expertise to create stunning web applications that not only look great
        but also deliver results. I specialize in <span class="text-yellow-500"
          >JavaScript</span
        >,<span class="text-blue-500"> TypeScript</span> , <span class="text-indigo-500"
          >CSS</span
        >, <span class="text-pink-500">SCSS</span>, <span class="text-blue-400"
          >React.js</span
        >, <span class="text-gray-800">Next.js</span>, <span class="text-orange-500"
          >Astro</span
        >, and <span class="text-green-500">MongoDB</span> database, but I won't bore you with
        the technical jargon. Instead, I'll work with you to understand your unique needs and
        create a website that reflects your business's personality and values.
      </p>
      <p>
        Whether you're looking to showcase your products and services, attract new
        customers, or simply establish a professional online presence, I'm here to help.
        As a small business owner myself, I understand the challenges of running a
        business, which is why I'm committed to delivering exceptional results that meet
        your budget and timeline.
      </p>
      <p>
        So if you're ready to take your business to the next level, let's chat! I promise
        to bring creativity, enthusiasm, and a little bit of fun to every project we work
        on together.
      </p>
      <p>
        You can see the <a
          class="capitalize font-bold text-blue-700 underline underline-offset-2"
          href="/about">about</a
        > page for more information
      </p>
    </div>
  </div>
</section>
