---
import Layout from "../../layout/Layout.astro";
import MarkdownIt from "markdown-it";
import { blogStyle } from "../../utils/functions";

const blog = {
  title: "How to Create a React Functional Component",
  content:
    "# How to Create a React Functional Component\n\nReact is a popular JavaScript library for building user interfaces. One of the key features of React is its ability to create reusable components. In this tutorial, we'll walk through how to create a React functional component.\n\n## Step 1: Set Up Your Development Environment\n\nBefore we get started, make sure you have Node.js installed on your computer. You can download Node.js from the official website: [https://nodejs.org](https://nodejs.org/).\n\nNext, create a new React project using Create React App. Open up your terminal and run the following command:\n\n```bash\nnpx create-react-app my-app\n```\n\nThis will create a new React project in a folder called `my-app`. Navigate to the `my-app` folder by running:\n\n```bash\ncd my-app\n```\n\n## Step 2: Create Your Functional Component\n\nIn React, a functional component is a JavaScript function that returns a React element. To create a functional component, create a new file called `MyComponent.js` in the `src` folder. Then, add the following code:\n\n```jsx\nimport React from 'react';\n\nfunction MyComponent() {\n  return (\n    <div>\n      <h1>Hello, World!</h1>\n    </div>\n  );\n}\n\nexport default MyComponent;\n```\n\nIn this example, we're importing the `React` library and creating a function called `MyComponent` that returns a `div` element with an `h1` child element.\n\n## Step 3: Use Your Functional Component\n\nNow that you've created your functional component, you can use it in your app. Open up the `App.js` file in the `src` folder and replace the default code with the following:\n\n```jsx\nimport React from 'react';\nimport MyComponent from './MyComponent';\n\nfunction App() {\n  return (\n    <div>\n      <MyComponent />\n    </div>\n  );\n}\n\nexport default App;\n```",
};

const md = new MarkdownIt();
const html = blogStyle(md.render(blog.content));
console.log(html);
---

<Layout>
  <section class="w-2/3 mx-auto py-3">
    <div class="space-y-6" set:html={html} />
  </section>
</Layout>
