---
import { fetchBlogs } from "../../database/helper";
import Layout from "../../layout/Layout.astro";
const blogs = await fetchBlogs();
console.log(blogs);
---

<Layout title="Blogs">
  <main class="min-h-[80vh]">
    <section class="w-3/4 mx-auto space-y-8 py-10">
      {
        blogs.map(blog => {
          return (
            <article class=" p-2 border-2 border-black  shadow-comic-light  rounded-md">
              <a href={`/blog/${blog._id}`}>
                <h2 class="text-2xl capitalize hover:underline hover:underline-offset-2">
                  {blog.title}
                </h2>
              </a>
            </article>
          );
        })
      }
    </section>
  </main>
</Layout>
