---
import SkillChart from "./SkillChart.astro";
---

<section class="w-10/12 md:w-8/12 mx-auto">
  <h2 class="text-5xl font-semibold capitalize">My Skill set</h2>
  <div class="my-5 space-y-5">
    <SkillChart skillOutOfHundred={90}>HTML</SkillChart>
    <SkillChart skillOutOfHundred={95}>CSS/SASS</SkillChart>
    <SkillChart skillOutOfHundred={90}>Tailwind</SkillChart>
    <SkillChart skillOutOfHundred={90}>Javascript/Typescipt</SkillChart>
    <SkillChart skillOutOfHundred={60}>Go</SkillChart>
    <SkillChart skillOutOfHundred={55}>Java</SkillChart>
    <SkillChart skillOutOfHundred={50}>UI/UX</SkillChart>
    <SkillChart skillOutOfHundred={78}>React</SkillChart>
    <SkillChart skillOutOfHundred={70}>Nextjs</SkillChart>
    <SkillChart skillOutOfHundred={60}>MongoDB</SkillChart>
    <SkillChart skillOutOfHundred={70}>Communication</SkillChart>
  </div>
</section>
