---
interface Props {
  skillOutOfHundred: number;
}

const { skillOutOfHundred } = Astro.props;
---

<div class="space-y-1">
  <span class="text-xl md:text-2xl font-semibold">
    <slot />
  </span>
  <div class="md:flex md:items-center md:space-y-0 md:space-x-2 space-y-2 items-center">
    <div class="h-6 md:h-8 w-full border-2 border-black rounded overflow-hidden">
      <div
        style={`width:${skillOutOfHundred}%;`}
        class={`h-full animate-slideIn bg-gray-950 `}>
      </div>
    </div>
    <span class="text-gray-500 font-semibold">{skillOutOfHundred}%</span>
  </div>
</div>
