---
import SkillChart from "./SkillChart.astro";

const skills = [
  { number: 95, skill: "Javascript/Typescipt" },
  { number: 95, skill: "CSS/SASS" },
  { number: 90, skill: "HTML" },
  { number: 90, skill: "Tailwind" },
  { number: 78, skill: "React" },
  { number: 70, skill: "Nextjs" },
  { number: 75, skill: "Linux - (Ubuntu)" },
  { number: 70, skill: "Communication" },
  { number: 60, skill: "MongoDB" },
  { number: 60, skill: "Go" },
  { number: 55, skill: "Java" },
  { number: 50, skill: "UI/UX" },
];
---

<section class="w-10/12 md:w-8/12 mx-auto">
  <h2 class="text-5xl font-semibold capitalize">My Skill set</h2>
  <div class="my-5 space-y-5">
    {
      skills.map(skill => {
        return <SkillChart skillOutOfHundred={skill.number}>{skill.skill}</SkillChart>;
      })
    }
  </div>
</section>
