<form
  class="p-4 text-xl flex flex-col border-2 border-black shadow-comic-light dark:shadow-comic-dark"
  action="https://formspree.io/f/mbjebney"
  method="POST">
  <label>
    Your email:
    <input type="email" name="email" />
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
