<footer class="w-full text-center p-10 space-y-6">
  <div class="text-gray-700 font-semibold">
    <p>&copy; All Rights Reserved {new Date().getFullYear()}</p>
    <p class="text-sm">Arjun R. Mistry</p>
  </div>
  <div>
    <ul
      class="capitalize flex justify-center items-center space-x-6 text-gray-700 text-sm font-semibold">
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/project">project</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>
</footer>
